.score-board {
  border: 1px solid navy;
  border-radius: 0.4rem;
  width: max-content;
  padding: 1rem;
  text-align: center;
  background-color: rgb(5, 5, 99);
  color: lightgray;

  & .score-label {
    font-size: x-large;
    font-weight: bold;
  }

  & .scores {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    gap: 1rem;

    & .team-score {
      display: flex;
      flex-direction: column;
      align-items: center;

      & .score {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1rem;
        background-color: rgb(22, 67, 127);
        border-radius: 0.4rem;
        border: 2px solid rgb(35, 65, 184);
        margin: 0 0.5rem;
      }

      & .team-name {
        margin-top: 0.5rem;
      }
    }
  }
}